# Server
PORT=5000

# MYSQL DB
MYSQL_PORT=3306
MYSQL_ROOT_PASS=root_pass
MYSQL_HOST=localhost
MYSQL_PASS=pass
MYSQL_USER=user
MYSQL_DB=projDB

# REDIS DB
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASS=pass
REDIS_USER=user

# Security & APIs
ACCESS_TOKEN_SECRET=SECRET_HERE
REFRESH_TOKEN_SECRET=SECRET_HERE
ORS_API_KEY=ORS_API_KEY_HERE

# Production
WEBSITE_DOMAIN=YOURDOMAIN.COM

# Frontend
VITE_API_URL=http://localhost:5000